body {
  background-color: #ffcc93;
}

.LoadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 100vh;
  //   background-color: #ffcc93;
  font-size: 3em;
  font-weight: 800;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.DeliveryImage {
  width: 320px;
  height: auto;
  margin-bottom: 20px;
}

// .LoadingTextContainer {
//   display: flex;
//   flex-direction: row;
// }

.LoadingTextContainer span {
  display: inline-block;
  margin: 0 -0.05em;
  animation: LoadingText 0.7s infinite;
}

.LoadingTextContainer span:nth-child(2) {
  animation-delay: 0.1s;
}
.LoadingTextContainer span:nth-child(3) {
  animation-delay: 0.2s;
}
.LoadingTextContainer span:nth-child(4) {
  animation-delay: 0.3s;
}
.LoadingTextContainer span:nth-child(5) {
  animation-delay: 0.4s;
}
.LoadingTextContainer span:nth-child(6) {
  animation-delay: 0.5s;
}
.LoadingTextContainer span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes LoadingText {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
