// // @import '../scss/mixin.scss';

// // @include desktop {
// //   .question-maincontainer {
// //     width: 100%;
// //     height: 100vh;
// //     background-color: aqua;
// //   }
// // }
// // @include tablet { 
// //   .question-maincontainer {
// //     width: 100%;
// //     height: 100vh;
// //     background-color: whitesmoke;
// //   }
// // }

// // @include mobile { 
// //   .question-maincontainer {
// //     width: 100%;
// //     height: 100vh;
// //     background-color: lightcoral;

// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //   }
// //   .question-block { 
// //     width: 80%;
// //   }
// // }

.question-container{
  width: 100%;
  height: 100vh;
  background: #FFCC93;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.question-box{
  width: 90%;
  height: 35%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.question-title {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}
.question-answer-btn{
  width: 90%;
  height: 30%;
  border-radius: 10px;
  border: none;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FF7A00;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  .question-answer-maintitle{
    font-size: 22px;
    font-weight: 900;
  }

}
.question-answer-btn:active{
  transition: all 0.2s ease-in-out;
  background: #eaeaea;
  // width: 91%;
  // height: 31%;
}
