@font-face {
  font-family: "CookieRun";
  src: url("../public/fonts/CookieRun-Regular.ttf");
  font-family: "NanumSquare";
  src: url("../public/fonts/NanumSquareR.ttf");
  font-family: "Maruburi";
  src: url("../public/fonts/MaruBuri-Bold.ttf");
}

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: #ffcc93;
  overflow: hidden;
}

.project-main-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::-webkit-scrollbar {
  display: none;
}
