body{
  margin: 0; 
  width: 100vw;
  height: 100vh;
<<<<<<< HEAD
  background-color: #999;
=======
  background-color: #FFE5C8;
>>>>>>> 3d3e228759e1f99953f9fcd007c35cc4491c0ecd
  overflow: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
