@import '../../scss/mixin';
@include mobile{
  .btn {
    background-color: #FFB703;
    border-radius: 10px;
    width: 60%;
    height: 15%;
    margin-top: 30px;
    margin-bottom: 40px;
    border: none;
    position: relative;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    line-height: calc(10% - 30px); /* 버튼의 높이에서 상하 패딩 값을 뺀 값 */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-weight: 900;
    cursor: pointer;
  }
}
.btn {
  font-family: 'CookieRun';
  background-color: #FFB703;
  border-radius: 10px;
  width: 60%;
  height: 10%;
  margin-top: 30px;
  margin-bottom: 40px;
  border: none;
  position: relative;
  padding: 15px 25px;
  display: inline-block;
  text-align: center;
  line-height: calc(10% - 30px); /* 버튼의 높이에서 상하 패딩 값을 뺀 값 */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 35px;
  font-weight: 900;
  cursor: pointer;
}

.btn:active {
  top: 4px;  
}

.btn.yellow {
  box-shadow: 0px 4px 0px #b69c3e;
}

.btn.yellow:active {
  box-shadow: 0 0 #ff4c4b;
  background-color: #e4c452;
}
